<div class="ui special cards">
  <div class="centered card">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
        	<div id="text" class="ul list">
				<div class="item" ng-repeat="descriptor in descriptors">{{descriptor}}</div>
			</div>
          </div>
        </div>
      </div>
      <img src="{{me.photo}}">
    </div>
    <div class="content">
      <a class="header"></a>
      <div class="meta">
        <span class="date">{{me.name}}</span>
      </div>
    </div>
  </div>
</div>

<div id="fb-root"></div>
<div><a href="/auth/facebook" style="background-color: #4e69a2; color: white;"> F | Login with FB </a> </div>

<div>
	<img class="ui small circular image fb-image" id="1" src="http://www.freestockphotos.name/wallpaper-original/wallpapers/download-images-of-gentle-dogs-6866.jpg"
</div>
<div>
	<img class="ui small circular image fb-image" id="2" src="http://i2.cdn.turner.com/cnnnext/dam/assets/111017060721-giant-panda-bamboo-story-top.jpg"
</div>
