<div id = "searchDiv" class="ui input focus" style = "padding-top: 75px">
  <input id = "search" type="text" placeholder="Search...">
  <button id = "test" class = "ui button">InfoMagic!</button>
</div>

<div class="ui" id="homeCenter">
    <center>
        <img src="https://tse1.mm.bing.net/th?&id=JN.C9U%2bEvENBzcbK0A/62YlLQ&w=300&h=300&c=0&pid=1.9&rs=0&p=0" width="300" height="400" />
    </center>
</div>

<div id = "infographic">
	<img id="image" />
	<div id="text" class="ul list">
		<div class="item" ng-repeat="descriptor in descriptors">{{descriptor}}</div>
	</div>
</div>

<span ng-repeat="friend in friends">
    {{friend}}
</span>
