<!DOCTYPE html>
<html>
  <head>
    <title>InfoMagic</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-route.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-animate.min.js"></script>
	<script src="/javascripts/jquery-2.1.4.js"></script>
	<script src="/javascripts/jquery.xml2json.js"></script>
	<script src="/javascripts/home.js"></script>
	<script src="/javascripts/app.js"></script>
	<script src="/javascripts/homeController.js"></script>
	<script src="semantic/dist/semantic.min.js"></script>
  </head>
  <body ng-app="app">
  <div class="ui grid">
       <div class="ui inverted fixed menu navbar page grid">
            <a href="" class="active item"><i class="home icon"></i></a>
            <a href="" class="item">Contacts</a>
            <a href="" class="item">Quotes</a>
              <div id = "searchContainer" class="ui category search item">
			    <div class="ui icon input">
			      <input id = "search" class="prompt" type="text" placeholder="Search animals...">
			      <i class="search link icon"></i>
			    </div>
			  </div>
			<!-- <input id = "search" type="text" placeholder="Search..."> -->
			<button id = "test" class = "ui button">InfoMagic!</button>
		</div>
  </div>
  <div ng-view></div>
  </body>
</html>
