<!DOCTYPE html>
<html>
  <head>
    <title>InfoMagic</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/home.css" />
	<script src="/javascripts/jquery-2.1.4.js"></script>
	<script src="semantic/dist/semantic.min.js"></script>
  </head>
  <body>
    <div class="ui grid">
       <div class="ui inverted fixed menu navbar page grid">
            <a href="" class="active item"><i class="home icon"></i></a>
            <a href="" class="item">Contacts</a>
            <a href="" class="item">Quotes</a>
        </div>
    </div>
    <div id="welcomeMessage">
      <p>Welcome to InfoMagic!</p>
      <p>Please log in with your Facebook account to see how our proven Machine Learning algorithm describes your friend's profile pictures as well as your own.</p>
    </div>
  
  <div id="fb-root"></div>
  <div><a href="/auth/facebook" style="background-color: #4e69a2; color: white;"> F | Login with FB </a> </div>
  
  </body>
</html>
