#navbar{
  margin-bottom: 5%;
}

#infographic {
  height: 400px;
  width: 400px;
  position: relative;
}

#image {
  position: absolute;
  left: 0;
  top: 0;
}

#text {
  z-index: 100;
  position: absolute;
  color: black;
  font-size: 24px;
  font-weight: bold;
  left: 10%;
  top: 10%;
}

#searchContainer{
  margin-left:40%;
}

#tes10{
  margin-left:1%;
}
#pictures{
  margin-top: 10%;
}
#toggle{
  margin-top:10%;

}

#homeCenter {
    margin-top: 10%;
}

#welcomeMessage {
  font-size: 2em;
   
}

#keyword-text {
  position: relative;
  float: right;
}

.fb-image {
  margin: 5px;
  position: absolute;
}

.user-picture {
  height: 350px;
  width: 350px;
}
#card{
}

body{
  padding-top:87px;
}
